#feedback__button {
    position: fixed;
    right: 0;
    writing-mode: sideways-lr;
    background-color: #000000;
    color: #ffffff;
    border: solid #777F8B;
}

#feedback__button:active {
    background-color: #333333;
    border-color: #000000;
}

.feedback__form--hidden {
    display: none;
}

.feedback__form--visible {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #6e6e6e;
    padding: 1rem;
    color: #ffffff;
    width: fit-content;
    z-index: 1000;
    left: 40vw;
}