<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This is the title of the page -->
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/main/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/navbar.css">
</head>
<body>
<header>
</header>
<!-- Navigation bar -->
<nav>
    <h1>CSE 477 - Homework 1</h1>
    <!-- This only appears when in mobile mode -->
    <button id="menu__bar"></button>
    <!-- Buttons for the navigation bar -->
    <div class="banner__buttons" id="navMenu">
        <a href="home.html" class="button">Home</a>
        <a href="projects.html" class="button">Projects</a>
        <a href="../static/main/documents/resume.pdf" class="button" target="_blank">Resume</a>
        <a href="https://www.linkedin.com/in/james-partin-62015723a" class="button" id="social__linkedin"
           title="Linkedin" target="_blank">
            <div class="hidden__text">LinkedIn</div>
        </a>
    </div>
</nav>
<main>
    <!-- Main content of the page -->
    <div class="main__card">
        <div class="column">
            <img loading="lazy" src="../static/main/images/profile.webp" alt="Profile Picture"/>
        </div>
        <div class="column">
            <div class="description__text">
                <h2>James Partin</h2>
                <p>Welcome to my website. I'm a Computer Science major at Michigan State University. This is a website I
                    built for CSE477 Homework 1.</p>
            </div>

        </div>
    </div>
    <!-- Fun fact about me -->
    <div class="fun__fact">
        <h3>Fun fact</h3>
        <p>I have three dogs and one cat.</p>
    </div>

</main>

<!-- Footer of the page -->
<footer>
    <p> © 2025 James Partin </p>
</footer>


</body>

<script src="../../static/main/js/main.js"></script>
</html>