<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/main/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/navbar.css">
</head>
<body>
<header>
</header>
<nav>
    <h1>Homework 1</h1>
    <button id="menu-bar"></button>
    <div class="banner-buttons" id="navMenu">
        <a href="home.html" class="button">Home</a>
        <a href="projects.html" class="button">Projects</a>
        <a href="../static/main/documents/resume.pdf" class="button" target="_blank">Resume</a>
        <a href="https://www.linkedin.com/in/james-partin-62015723a" class="button" id="social-linkedin"
           title="Linkedin" target="_blank">
            <div class="hidden-text">LinkedIn</div>
        </a>
    </div>
</nav>
<main>
    <div class="about-card">
        <div class="column">
            <img src="../static/main/images/profile.webp" alt="Profile Picture">
        </div>
        <div class="column">
            <div class="description-text">
                <h1>James Partin</h1>
                Welcome to my website. I'm a Computer Science major at Michigan State University. This is a website I built
                for CSE477 Homework 1.
            </div>

        </div>
    </div>
    <div class="fun-fact">
        Fun fact: I have three dogs and one cat.
    </div>

    <!--        <img src="../static/main/images/profile.webp" alt="Profile Picture">-->
    <!--            <h2>James Partin</h2>-->
    <!--            -->
    <!--            <div class="description-text">Fun Fact: I have three dogs and one cat.</div>-->

</main>

<footer>
    © 2025 James Partin
</footer>


</body>

<script src="../static/main/js/main.js"></script>
</html>