<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/main/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/navbar.css">
</head>
<body>
<header>
</header>
<nav>
    <h1>Homework 1</h1>
    <button id="menu-bar"></button>
<!--    <img src="../static/main/images/menu-bar.png" alt="menu-bar" id="menu-bar">-->
    <div class="banner-buttons">
        <a href="home.html" class="button">Home</a>
        <a href="projects.html" class="button">Projects</a>
        <a href="../static/main/documents/resume.pdf" class="button" target="_blank">Resume</a>
        <a href="https://www.linkedin.com/in/james-partin-62015723a" class="button" id="social-linkedin" title="Linkedin" target="_blank"><div class="hidden-text">Linkedin</div></a>
    </div>
</nav>
<main>

</main>


<footer>

</footer>
</body>
</html>