<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Piano Project</title>
    <link rel="stylesheet" type="text/css" href="../static/main/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/piano/css/piano.css">
</head>
<body>
<header>
</header>
<nav>
    <h1>Homework 1</h1>
    <button id="menu-bar"></button>
    <div class="banner-buttons" id="navMenu">
        <a href="home.html" class="button">Home</a>
        <a href="projects.html" class="button">Projects</a>
        <a href="../static/main/documents/resume.pdf" class="button" target="_blank">Resume</a>
        <a href="https://www.linkedin.com/in/james-partin-62015723a" class="button" id="social-linkedin"
           title="Linkedin" target="_blank">
            <div class="hidden-text">LinkedIn</div>
        </a>
    </div>
</nav>
<main>
    <div id="poemText">
        "Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we
        see you."
    </div>
    <div id="piano">
        <div id="pianoText">
            <h1>The Great Old One</h1>
        </div>
        <div id="keyboard">
            <div class="keyboard" id="keyboard-white">
                <!--             AWSEDFTGYHUJKOLP;-->
                <div class="white-key" id="A">A</div>
                <div class="white-key" id="S">S</div>
                <div class="white-key" id="D">D</div>
                <div class="white-key" id="F">F</div>
                <div class="white-key" id="G">G</div>
                <div class="white-key" id="H">H</div>
                <div class="white-key" id="J">J</div>
                <div class="white-key" id="K">K</div>
                <div class="white-key" id="L">L</div>
                <div class="white-key" id=";">;</div>
            </div>
            <div class="keyboard" id="keyboard-black">
                <div class="black-key" id="W">W</div>
                <div class="black-key" id="E">E</div>
                <div class="black-key" id="T">T</div>
                <div class="black-key" id="Y">Y</div>
                <div class="black-key" id="U">U</div>
                <div class="black-key" id="O">O</div>
                <div class="black-key" id="P">P</div>
            </div>
        </div>
    </div>
</main>

<footer>
    © 2025 James Partin
</footer>

</body>

<script src="../static/main/js/main.js"></script>
<script src="../static/piano/js/piano.js"></script>
</html>