<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="../static/main/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/main/css/navbar.css">
</head>
<body>
<header>
</header>
<nav>
    <h1>Homework 1</h1>
    <button id="menu-bar"></button>
    <div class="banner-buttons" id="navMenu">
        <a href="home.html" class="button">Home</a>
        <a href="projects.html" class="button">Projects</a>
        <a href="../static/main/documents/resume.pdf" class="button" target="_blank">Resume</a>
        <a href="https://www.linkedin.com/in/james-partin-62015723a" class="button" id="social-linkedin"
           title="Linkedin" target="_blank">
            <div class="hidden-text">LinkedIn</div>
        </a>
    </div>
</nav>
<main>
    <div class="about-card">
        <div class="column">
            <h3> This page is to show off all the work in CSE 477. Currently I have completed the Piano project.</h3>
        </div>
    </div>

    <div class="about-card">
        <div class="column">
            <a href="piano.html">
                <img src="../static/main/images/piano.jpeg" alt="Piano Project">
            </a>
        </div>
        <div class="column">
            <div class="description-text">
                <h1>Piano Project</h1>
                This is a project I completed for CSE 477. It is a simple piano that plays notes when you click on the keys.
                <a href="piano.html">Click here to go to the piano page.</a>
            </div>
        </div>


        <!--        <img src="../static/main/images/profile.webp" alt="Profile Picture">-->
        <!--            <h2>James Partin</h2>-->
        <!--            -->
        <!--            <div class="description-text">Fun Fact: I have three dogs and one cat.</div>-->

    </div>
</main>

<footer>
    © 2025 James Partin
</footer>


</body>

<script src="../static/main/js/main.js"></script>
</html>