<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../static/main/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../static/main/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/main/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../../static/main/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/main/css/feedback.css">
    {% block extracss %}{% endblock %}
    <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='main/js/feedback.js') }}" defer></script>
    {% block extrajs %}{% endblock %}
</head>

<body>
<article>
    <header>
    </header>
    <!-- Navigation bar -->
    <nav>
        <h1>CSE 477 - Homework 2</h1>
        <!-- This only appears when in mobile mode -->
        <button id="menu__bar"></button>
        <!-- Buttons for the navigation bar -->
        <div class="banner__buttons" id="navMenu">
            <a href="/home" class="button">Home</a>
            <a href="/projects" class="button">Projects</a>
            <a href="/resume" class="button">Resume</a>
            <a href="https://www.linkedin.com/in/james-partin-62015723a" class="button" id="social__linkedin"
               title="Linkedin" target="_blank">
                <div class="hidden__text">LinkedIn</div>
            </a>
        </div>
    </nav>

    <!-- The main content  -->
    <main>
        <button id="feedback__button">Feedback</button>
        <form id="feedback__form" class="feedback__form--hidden" action="/processfeedback" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment" required></textarea>
            <button type="submit">Send</button>
        </form>

        {% block maincontent %}{% endblock %}
    </main>

    <!-- Footer of the page -->
    <footer>
        <p> © 2025 James Partin </p>
    </footer>

</article>

</body>

</html>








